<h1>Hae kirja</h1>

<form method="POST" action="/haekirja">
    <fieldset>
        Hakusana        : <input type="text" name="hakusana" id="hakusana" size="150"/>
        <br/>       
        <input name="haekirja" type="submit" value="Hae kirja" />
    </fieldset>
<form>  
    
<p><a href="/haevinkki">Takaisin valikkoon</a></p>
<p><a href="/">Takaisin päävalikkoon</a></p>

#if( $error )
<div id="error" style="color:red">
    <p><em>$error</em></p>
</div>
#end

#if( $books )
<div id="books" style="color:black">
    <p><em>$books</em></p>
</div>
#end